html,body{
  overflow-x: hidden;
  background-color: #f9f7f2;
  margin: 0;
  border: 0;
  font-family: myfont;
}

/*-----------------------------------------------Video----------------------------------------------------*/

video{
  position: absolute;
  filter: brightness(70%);
  top: 0;
  transform: scale(1.3);
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.video-wrapper{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: myfont;
  src: url(Harabara.ttf);
}


/*------------------------------------------------------nav-bar-------------------------------------------------*/


.nav {
  z-index: 1000;
  position: fixed;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  border-bottom: #514c4c9a solid 2px;
  transition: background-color 0.3s ease;
}


.nav.transparent {
  background-color: transparent;
}


.nav.scrolled {
  background-color: #1d1f22;
}

.nav-button {
  border-radius: 20px;
  background-color: #fff;
  border: none;
  margin-right: 3rem;
}

.nav-button:hover {
  background-color: rgb(235, 192, 63);
}

.nav__list {
  width: 100%;
  font-size: 2rem;
  list-style: none;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 3rem;
  border-bottom: 1px solid #222;
}

.nav__item-container {
  margin-right: 3rem;
}

.nav__item>a {
  color: #d2d0db;
  text-decoration: none;
  transition: 0.3s;
}

.nav__item>a:hover {
  color: #fff;
}

.nav__toggler {
  opacity: 0.5;
  cursor: pointer;
}

.Nav-icon {
  height: 50px;
  width: 50px;
  left: 0;
  position: relative;
}

.nav--collapsible {
  opacity: 1;
  overflow: visible;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
      display: none;
  }

  .nav__list {
      width: auto;
      display: flex;
      font-size: 1.5rem;
  }

  .nav-button {
      margin-right: -1rem;
  }

  .nav {
      flex-wrap: nowrap;
  }

  .nav__item {
      border: 0;
      font-size: 1.2rem;
  }

  .nav__item:hover {
      border-bottom: rgb(235, 192, 63) 1px solid;
      transition: all 0.3s;
  }
}

/*-----------------------------------------------Collapsible----------------------------------------------------*/


@media screen and  (max-width:320px){



.collapsible__header{
    display: flex;
    justify-content: space-between;
}

.collapsible__heading{
    margin-top: 0;
    font-size: 3rem;
}

.collapsible__icon{
    cursor: pointer;
    transform: rotate(-90deg);
    transition: 0.3s;
}

.collapsible__content{
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible__expanded .collapsible__icon{
    transform: rotate(0);
}

.collapsible__expanded .collapsible__content{
    display: block;
    max-height: 100vh;
    opacity: 1;
}
}

/*-------------------------------------------------search bar----------------------------------------------------*/

.container-nav {
  position: absolute;
  left: 11%;
  top: 36%;
  transform: translate(-50%);
}


.search-box input[type=text] {
  border: none;
  background: none;
  z-index: 1;
  width: 25px;
  height: 25px;
  transition: all 0.25s ease-in 0.25s;
  color: transparent;
  font-size: 0.75rem;
  line-height: 25px;
}
.search-box input[type=text]:hover {
  cursor: pointer;
}
.search-box input[type=text]:hover:focus {
  cursor: text;
}
.search-box input[type=text]:hover + a {
  background: rgba(255, 255, 255, 0.2);
}
.search-box input[type=text]:focus {
  width: 200px;
  padding: 0 10px;
  outline: none;
  color: black;
  background: none;
  color: white;
}
.search-box input[type=text]:focus + a {
  width: 200px;
}
.search-box input[type=text]:focus + a::before {
  width: 2px;
  opacity: 0;
  transition: all 0.25s ease-in;
}
.search-box input[type=text] + a {
  z-index: -1;
  position: absolute;
  border: 2px solid white;
  top: 0;
  width: 25px;
  height: 25px;
  transition: all 0.25s ease-in 0.25s;
  border-radius: 25px;
  left: 0;
}
.search-box input[type=text] + a::before {
  transition: all 0.25s ease-in 0.5s;
  transform-origin: left top;
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: white;
  transform: rotate(45deg) translate(26px, -2px);
}

.section-1 .video-wrapper .search-box{

  text-align: left;
}

@media screen and (max-width:768px){
  .container-nav{
    left: 50%;
    position: absolute;
    top: 24%;
  }
}

@media screen and (max-width:320px){
  .container-nav{
    left: 51%;
    position: absolute;
    top: 64%;
  }
}

/*------------------------------------------speed-contact-bar--------------------------------------------------*/


.speed-cont-bar{
  display: flex;
  z-index: 500;
  flex-direction: column;

}

.sc-ul{
  list-style: none;
  border: 5px solid #1f1e1e94;
  border-left: 0;
  background-color: #ffffff;
  width: 50px;
  padding: 0;
 z-index: 500;
  left: 0;
  top: 50%;
  position: fixed;
  text-align: center;
}

.sc-list{
  border-bottom: 3px solid #36353594;
  height: 50px;
  font-size: 2rem;
}

a{
  text-decoration: none;
}
/*---------------------------------------------Section-1-------------------------------------------------*/

.section-1{
  height: 100vh;
  background-color: rgb(245, 245, 245);
  color: rgb(29,31,34);
}

.highlight-text {
  color: rgb(235, 192, 63);
}
.header-section-1{
  color: azure;
  position: relative;
  height: 100vh;
}

h1{
  font-size: 7rem;
  padding: 0;
  margin: 0;
}

.section-1-heading{
  padding: 10rem 0 0 0 ;
}

.section-1-heading-2{
  font-size: 3rem;
}

@media screen and (max-width:320px){
  .section-1-heading-2{
    font-size: 2rem;
    padding-left: 1rem;
  }

  h1{
    font-size: 4rem;
  }

  
  
}



/*---------------------------------------------------Section-2-------------------------------------------*/

.section-2{
  background-image: url(R\ \(1\).png)  ; 
  filter: brightness(90%);
  background-position-x: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding: 0 2rem 0 2rem;
}

.section-2-heading{
  text-align: center;
  color: #000000b1;
  padding: 5rem 0 0 0 ;
  font-size: 2.4rem;
}

.section-2-content{
  font-size: 1.4rem;
  line-height: 2rem;
  color:#000000;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 6rem ;
}



/*---------------------------------------------Section-3-----------------------------------------------*/


  .blind-container{
    display: flex;
    padding: 0;
    flex-direction: row;
    height: 100vh;
  }

  .blinds h3{
    top: 60px;
    left: 10px;
    color: rgb(235,192,63);
    position: relative;
  }
  .blind{
    background-color: #222222a4;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .section-3 p{
  font-size: 1.4rem;
  color: #9e9a9a;
 }

 .window-item{
  padding: 0 1rem 0 2rem ;
  height: 300px;
  border-right: #868282bf solid 1px;
 }

 .section-3 h1{
  color: #7a7b7bb1;
 }

 .blind:hover{
  background-color: #111111cf;
  overflow: hidden;
  transition: all 0.6s ;
  .window-item{
    transform: translateY(-65px);
    transition: .3s ease-out;
  }
 }

.video-wrapper .blinds h3{
  text-align:left;
}

.section-3 .video-wrapper {

    height: 83vh;
}

/*-------------------------------------------------section-4-------------------------------------------------*/


.landing_page * {
  font-family: Nunito, sans-serif;
  
  }
  
  .landing_page .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
  }
  
  .landing_page-section-5 .responsive-container-block-section-5 {
  
  min-height: 75px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: nowrap !important;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
  }
  
  .landing_page .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
  }
  
  .landing_page .responsive-cell-block {
  min-height: 75px;
  }
  
  .landing_page .responsive-container-block.container {
  max-width: 1320px;
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  position: relative;
  }
  
  .landing_page .form-box {
  background-color: #121315;
  color: white;
  border-radius: 30px;
  padding-top: 35px;
  padding-right: 33px;
  padding-bottom: 35px;
  padding-left: 33px;
  max-width: 506px;
  }
  
  .landing_page .form-box-section-4 {
  background-color: #000000;
  color: white;
  
  max-width: 506px;
  }
  
  .landing_page .text-blk.contactus-head {
  font-size: 30px;
  line-height: 40px;
  }
  
  .landing_page .text-blk.contactus-subhead {
  color: #ffffff;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 18px;
  margin-left: 0px;
  }
  
  .landing_page .input {
  width: 100%;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 18px;
  padding-top: 1px;
  padding-right: 125px;
  padding-bottom: 1px;
  padding-left: 22.5px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: #212223;
  padding: 1px 12.5px 1px 22.5px;
  }
  
  .landing_page .textinput {
  width: 100%;
  height: 233px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  font-size: 18px;
  padding-top: 22px;
  padding-right: 22px;
  padding-bottom: 22px;
  padding-left: 22px;
  background-color: #212223;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  }
  
  .landing_page .submit-btn {
  width: 100%;
  height: 56px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(235,192,63);
  font-size: 18px;
  font-weight: 600;
  color: white;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #146132;
  border-right-color: #146132;
  border-bottom-color: #146132;
  border-left-color: #146132;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  }
  
  .landing_page .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-6.wk-ipadp-6.emial {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  }
  
  .landing_page .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6.right-one {
  display: flex;
  justify-content: flex-end;
  }
  
  .landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(255, 255, 255);
  }
  
  .landing_page .text-blk.section-subhead {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  max-width: 420px;
  font-size: 18px;
  color:rgb(235,192,63) ;
  }
  
  .landing_page .text-blk.section-head {
  font-size: 40px;
  line-height: 55px;
  font-weight: 800;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  max-width: 450px;
  }
  
  .landing_page .icons-container {
  max-width: 450px;
  display: flex;
  justify-content: space-evenly;
  }
  
  .landing_page .img {
  width: 31px;
  height: 31px;
  }
  
  .landing_page .responsive-container-block.big-container {
  background-color: rgb(255, 255, 255);
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  position: relative;
  }
  
  
  .landing_page .responsive-container-block.big-container-section-5 {
  background-color: transparent;
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  position: relative;
  }
  
  .landing_page .bg-img {
  width: 100%;
  
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  height: 100%;
  object-fit: cover;
  }
  
  @media (max-width: 768px) {
  .landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
    justify-content: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  
  .landing_page .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-6.wk-ipadp-6.emial {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
    margin: 0 0 40px 0;
  }
  }
  
  @media (max-width: 500px) {
  .landing_page .text-blk.section-head {
    font-size: 26px;
    line-height: 40px;
  }
  
  .landing_page .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }
  
  .landing_page .text-blk.section-subhead {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    font-size: 16px;
  }
  
  .landing_page .form-box {
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
  }
  
  .landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
    margin: 0 0 30px 0;
  }
  
  .landing_page .input {
    height: 45px;
  }
  
  .landing_page .text-blk.contactus-head {
    font-size: 24px;
    line-height: 34px;
  }
  }
  
  .share-icon{
  cursor: pointer;
  
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');
  
  *,
  *:before,
  *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }
  
  body {
  margin: 0;
  }
  
  .wk-desk-1 {
  width: 8.333333%;
  }
  
  .wk-desk-2 {
  width: 16.666667%;
  }
  
  .wk-desk-3 {
  width: 25%;
  }
  
  .wk-desk-4 {
  width: 33.333333%;
  }
  
  .wk-desk-5 {
  width: 41.666667%;
  }
  
  .wk-desk-6 {
  width: 50%;
  }
  
  .wk-desk-7 {
  width: 58.333333%;
  }
  
  .wk-desk-8 {
  width: 66.666667%;
  }
  
  .wk-desk-9 {
  width: 75%;
  }
  
  .wk-desk-10 {
  width: 83.333333%;
  }
  
  .wk-desk-11 {
  width: 91.666667%;
  }
  
  .wk-desk-12 {
  width: 100%;
  }
  
  @media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }
  
  .wk-ipadp-2 {
    width: 16.666667%;
  }
  
  .wk-ipadp-3 {
    width: 25%;
  }
  
  .wk-ipadp-4 {
    width: 33.333333%;
  }
  
  .wk-ipadp-5 {
    width: 41.666667%;
  }
  
  .wk-ipadp-6 {
    width: 50%;
  }
  
  .wk-ipadp-7 {
    width: 58.333333%;
  }
  
  .wk-ipadp-8 {
    width: 66.666667%;
  }
  
  .wk-ipadp-9 {
    width: 75%;
  }
  
  .wk-ipadp-10 {
    width: 83.333333%;
  }
  
  .wk-ipadp-11 {
    width: 91.666667%;
  }
  
  .wk-ipadp-12 {
    width: 100%;
  }
  }
  
  @media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }
  
  .wk-tab-2 {
    width: 16.666667%;
  }
  
  .wk-tab-3 {
    width: 25%;
  }
  
  .wk-tab-4 {
    width: 33.333333%;
  }
  
  .wk-tab-5 {
    width: 41.666667%;
  }
  
  .wk-tab-6 {
    width: 50%;
  }
  
  .wk-tab-7 {
    width: 58.333333%;
  }
  
  .wk-tab-8 {
    width: 66.666667%;
  }
  
  .wk-tab-9 {
    width: 75%;
  }
  
  .wk-tab-10 {
    width: 83.333333%;
  }
  
  .wk-tab-11 {
    width: 91.666667%;
  }
  
  .wk-tab-12 {
    width: 100%;
  }
  }
  
  @media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }
  
  .wk-mobile-2 {
    width: 16.666667%;
  }
  
  .wk-mobile-3 {
    width: 25%;
  }
  
  .wk-mobile-4 {
    width: 33.333333%;
  }
  
  .wk-mobile-5 {
    width: 41.666667%;
  }
  
  .wk-mobile-6 {
    width: 50%;
  }
  
  .wk-mobile-7 {
    width: 58.333333%;
  }
  
  .wk-mobile-8 {
    width: 66.666667%;
  }
  
  .wk-mobile-9 {
    width: 75%;
  }
  
  .wk-mobile-10 {
    width: 83.333333%;
  }
  
  .wk-mobile-11 {
    width: 91.666667%;
  }
  
  .wk-mobile-12 {
    width: 100%;
  }
  }







/*--------------------------------------------Footer------------------------------------------------*/

.b-footer{
  background-color: #1d1f22;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-top: 4px solid;
  line-height: 2.5rem;

}


.b-footer a.m-link {
  text-decoration: none;
  color: rgb(132, 131, 131);
}
.b-footer__sitemapColumn{
  list-style: none;
  margin: 0;
  padding: 0;
}

.b-footer__sitemapItem{
  padding: 0;
}
.b-footer__container{
  margin: 65px 0 35px;
}



.b-footer__sitemap{
  gap: 0 20px;
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  margin: 0;
  padding: 0 2rem;
}

.b-footer__links{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 100%;
}

.b-footer__link{
  list-style: none;
 
}

.-footer__link{
  text-decoration: none;
}
.b-footer__socialLabel{
  border-top: 1px solid black;
  display: block;
  margin: 60px 0 0 ;
  padding: 35px 0 0;
  position: relative;
  width: 600px;
}

.b-footer__social{
  display: flex;
  align-self: start;
  align-items: center;
  justify-content: flex-end;
  margin: 60px 0 0 ;
  padding: 35px 0 0 ;

}


.b-footer__marginalia{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px;
}

.a-heading-h6{
  width: 300px;
}
.b-footer__marginaliaItems{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.b-footer p{
  padding-left: 10px;
  list-style: none;
}


.b-footer__marginaliaItem-copyrightNotice{
  top: 15px;
  left: 10px;
  position: relative;
}


.b-footer__recaptcha{
  top: 10px;
  position: relative;
}

.m-social__items{
  display: flex;
  flex-direction: row;
}


h2{
  font-size: 1.3rem;
  color: #fff;
  padding-left: 2rem;
}





*,
*::before,
*::after { box-sizing: border-box; }


/* Center-align text within each card_part */
.card_part {
  position: relative; /* Added relative positioning */
  text-align: center;
  height: 100vh;
  width: 100vw;
}


/* Style for the heading (h1) */
.card_part h1{
  position: absolute; /* Position the heading absolutely */
  top: 50%; /* Place the heading vertically at the center */
  left: 50%; /* Place the heading horizontally at the center */
  transform: translate(-50%, -50%); /* Center the heading within the card_part */
  font-size: 5rem; /* Adjust the font size as needed */
  color: #cbb89d;
}

.card_part h2{
  position: absolute; /* Position the heading absolutely */
  top: 60%; /* Place the heading vertically at the center */
  left: 50%; /* Place the heading horizontally at the center */
  transform: translate(-50%, -50%); /* Center the heading within the card_part */
  font-size: 2rem; /* Adjust the font size as needed */
  color: #cbb89d;
}



.card {
  position: relative;
  margin-top: 3rem;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/*Light blue cover above the slide show*/
.card::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;

  display: block;
  width: 100%;
  height: 100%;

}

.card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  
  transform: translateX( 700px );
  background-image: url( https://github.com/Flat-Pixels/assets_hosting/blob/master/picture_slides/1.jpg?raw=true );
  
  animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
}


.card_part.card_part-two {
  z-index: 6;
  background-image: url( https://github.com/Flat-Pixels/assets_hosting/blob/master/picture_slides/2.jpg?raw=true );
  animation-delay: 7s;
}

.card_part.card_part-three {
  z-index: 5;
  background-image: url( https://github.com/Flat-Pixels/assets_hosting/blob/master/picture_slides/3.jpg?raw=true );
  animation-delay: 14s;
}

.card_part.card_part-four {
  z-index: 4;
  background-image: url( https://github.com/Flat-Pixels/assets_hosting/blob/master/picture_slides/4.jpg?raw=true );
  animation-delay: 21s;
}


@keyframes opaqTransition {
  3% { transform: translateX( 0 ); }
  25% { transform: translateX( 0 ); }
  28% { transform: translateX( -100vw ); }
  100% { transform: translateX( -100vw ); }
}

.slideshow{
  display: flex;
  justify-content: center;
  align-items: center;
}
















.outerdiv
{
	width: 100%;
    min-height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerdiv
{
	transform: scale(0.9);
	margin: 1rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: repeat(2,22rem);
	grid-template-columns: repeat(4,17rem);
}
.eachdiv
{
	padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 9px 10px rgba(0, 0, 0, 0.34);
    color: white;
}
.div1
{
	background: #ebc035;
    grid-column: 1/3;
    grid-row: 1/2;
    
    background-repeat: no-repeat;
    background-position-x: 25rem;
}
.div2
{
	background:#49556B;
    grid-column: 3/4;
    grid-row: 1/2;
}
.div3
{
	background: white;
    grid-column: 4/5;
    grid-row: 1/3;
    color: black;
}
.div4
{
	background: white;
	grid-column: 1/2;
    grid-row: 2/3;
    color: black;
}
.div5
{
	background: #18202D;
	grid-column: 2/4;
    grid-row: 2/3;
}
.userdetails
{
	display: flex;
}
.imgbox
{
	margin-right: 1rem;
}
.imgbox img
{
	border-radius: 50%;
	width: 2rem;
	border: 2px solid #cec5c5;
}
.detbox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.detbox p
{
	margin: 0;
}
.detbox .name
{
	color: hsl(0, 0%, 81%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}
.detbox .name.dark
{
	color: #49505A;
}
.detbox .designation
{
	color: hsl(0, 0%, 81%);
    opacity: 50%;
    font-size: 0.8rem;
}
.detbox .designation.dark
{
	color: #49505A;
}
.review h4
{
	font-size: 1.4rem;
	color: #F3DEFF;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}
.review.dark h4{
	color:#4B5258;
}
.review p
{
	font-size: 0.95rem;
    color: #ffffff;
    font-weight: 500;
    opacity: 50%;
    line-height: 1.5;
}
.review.dark p{
	color: #0e0e0e;
}
.attribution
{
	font-size: 1rem;
    line-height: 1.5;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
}
.attribution a
{
	text-decoration: none;
}

@media only screen and (max-width: 1000px)
{
	.innerdiv
	{
		transform: scale(0.7);
	}
}
@media only screen and (max-width: 800px)
{
	.innerdiv
	{
		transform: scale(0.6);
	}
}
@media only screen and (max-width: 600px)
{
	.div1 {
		background-position-x: 10rem;
	}
	.innerdiv
	{
		display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
	}
	.attribution
	{
		position: relative;
	}
}